<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.mytest.UserMapper">
  <cache/>
  <select id="selectUserById" resultType="org.apache.ibatis.mytest.User" parameterType="int">
    select * from myuser where id = #{HAHA}
  </select>

  <update id="updateUser" parameterType="int">
    update myuser set name = 'lala' where id = #{HAHA}
  </update>
</mapper>
