<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.mytest.UserMapper">
  <cache/>

<!--  <resultMap id="lala" type="org.apache.ibatis.mytest.User">-->
<!--    <discriminator javaType="int" column="id">-->
<!--      <case value="1" resultMap="haha"/>-->
<!--    </discriminator>-->
<!--  </resultMap>-->
  <resultMap id="haha" type="org.apache.ibatis.mytest.User">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <collection property="infos" ofType="org.apache.ibatis.mytest.Info">
      <result column="age" property="age"/>
      <result column="email" property="email"/>
    </collection>
<!--    <association property="info" resultMap="lala"/>-->
  </resultMap>

  <resultMap id="lala" type="org.apache.ibatis.mytest.Info">
    <result property="email" column="email"/>
    <result property="age" column="age"/>
  </resultMap>

  <select id="selectUserById" parameterType="int" resultMap="haha">
    select * from myuser left join userinfo on id = user_id where id = #{id}
  </select>

  <select id="selectUsers" resultMap="haha" resultOrdered="true">
    select * from myuser left join userinfo on id = user_id order by id
  </select>

  <select id="selectInfo" parameterType="int" resultMap="lala">
    select * from userinfo where user_id = #{id}
  </select>

  <update id="updateUser" parameterType="int">
    update myuser set name = 'lala' where id = #{HAHA}
  </update>
</mapper>
