<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.mytest.UserMapper">
  <cache/>

  <resultMap id="haha" type="org.apache.ibatis.mytest.User">
<!--    <id column="id" property="id"/>-->
<!--    <result column="name" property="name"/>-->
    <constructor>
      <idArg column="id" name="id"/>
      <arg column="name" name="name"/>
    </constructor>
  </resultMap>
  <select id="selectUserById" parameterType="int" resultMap="haha">
    select * from myuser where id = #{id}
  </select>

  <update id="updateUser" parameterType="int">
    update myuser set name = 'lala' where id = #{HAHA}
  </update>
</mapper>
